<%# task: get venue_id from url, select datetimes, add user note, submit %>
<%# h1, span12 %>
<div id="request_new" class="row">
  <%= render :partial => 'form', :locals => { :h1 => "Edit a request",
                                              :@request => @request } %>
</div>