<%# pinpoint, get lat/long, ask for name, type %>
<%# h1, span12 %>
<div id="venue_new" class="row">
  <%= render :partial => 'form', :locals => { :h1 => "Edit venue",
                                              :@venue => @venue } %>
</div>
